{# 
Header Comment 
Project: [Garrett's Split Tracker] [https://github.com/GreenBeanio/Garrett-s-Split-Tracker]
Copyright: Copyright (c) [2024]-[2024] [Garrett's Split Tracker] Contributors
Version: [0.1]
Status: [Development]
License: [MIT]
Author(s): [Garrett Johnson (GreenBeanio) - https://github.com/greenbeanio]
Maintainer: [Garrett Johnson (GreenBeanio) - https://github.com/greenbeanio]
Project Description: [This project is used to track "splits" in games or activities. With the ability to display them on a livestream.]
File Description: [Generates the login page]
#}

<!DOCTYPE html>
<html>

<head>
    {% block css %}
    <link rel="stylesheet" href="{{ url_for('auth.static', filename='css/base.css') }}">
    {% endblock %}
    {% block js %}{%endblock%}
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    {% block navigation_bar %}
    <div class="navigation_bar">
        <a href="{{url_for('auth.index')}}">Welcome</a>
        <a href="{{url_for('auth.showLogin')}}">Login</a>
    </div>
    {% endblock %}
    {% block content%}
    {% endblock %}
    <div id="footer">
        {% block footer %}
        Copyright 2024 by Garrett Johnson (GreenBeanio) <a href="https://github.com/GreenBeanio/Garrett-s-Split-Tracker">Source Code</a>
        {% endblock %}
    </div>
</body>

</html>

{# 
Footer Comment
History of Contributions:
[2024-2024] - [Garrett Johnson (GreenBeanio) - https://github.com/greenbeanio] - [The entire document] 
#}