<!DOCTYPE html>
<html>

<head>
<title>Garrett's Split Tracking System</title>
</head>

<body>
{% if t_user %}
    <h1>Hello {{ t_user}}</h1>
{% else %}
    <h1>You shouldn't be here<h1>
{% endif %}
</body>

</html>