<!DOCTYPE html>
<html>
<head>
<title>Login</title>
</head>
<body>

<h1> Welcome to Garrett's Split Tracker </h1>
<h2> Login </h2>

<div>
<form method="GET" action="{{ url_for('login_attempt')}}">
    <label for="user_text">Username:</label><br>
    <input type="text" id="user_text" name="user_box"><br><br>
    <label for="pass_text">Password:</label><br>
    <input type="password" id="pass_text" name="pass_box"><br><br>
    <input type="submit" id="submit_but" value="Login">
    <input type="reset" id="reset_but" value="Reset">
</form>
</div>

<br>

<div>
<form method="POST" action="{{ url_for('login_attempt')}}">
    <label for="user_text">Username:</label><br>
    <input type="text" id="user_text" name="user_box"><br><br>
    <label for="pass_text">Password:</label><br>
    <input type="password" id="pass_text" name="pass_box"><br><br>
    <input type="submit" id="submit_but" value="Login">
    <input type="reset" id="reset_but" value="Reset">
</form>
</div>

</body>
</html>