{# 
Header Comment 
Project: [Garrett's Split Tracker] [https://github.com/GreenBeanio/Garrett-s-Split-Tracker]
Copyright: Copyright (c) [2024]-[2024] [Garrett's Split Tracker] Contributors
Version: [0.1]
Status: [Development]
License: [MIT]
Author(s): [Garrett Johnson (GreenBeanio) - https://github.com/greenbeanio]
Maintainer: [Garrett Johnson (GreenBeanio) - https://github.com/greenbeanio]
Project Description: [This project is used to track "splits" in games or activities. With the ability to display them on a livestream.]
File Description: [Generates the login page]
#}

{% extends "base.j2" %}

{%block css %}
    {{ super() }}
{% endblock %}
{%block js %}
    {{ super() }}
{% endblock %}

{% block title %}
   Login
{% endblock %}

{% block navigation_bar %}
    {{ super() }}
{% endblock %}

{% block content %}
    <h2> Login </h2>
    <div>
        <form method="POST" action="{{ url_for('auth.loginAttempt')}}">
            <label for="user_text">Username:</label><br>
            <input type="text" id="user_text" name="user_box"><br><br>
            <label for="pass_text">Password:</label><br>
            <input type="password" id="pass_text" name="pass_box"><br><br>
            <input type="submit" id="submit_but" value="Login">
            <input type="reset" id="reset_but" value="Reset">
            <a href="{{url_for('auth.newUser')}}">New User</a>
        </form>
    </div>
{% endblock %}

{% block footer %}
    {{ super() }}
{% endblock %}

{# 
Footer Comment
History of Contributions:
[2024-2024] - [Garrett Johnson (GreenBeanio) - https://github.com/greenbeanio] - [The entire document] 
#}