{# 
Header Comment 
Project: [Garrett's Split Tracker] [https://github.com/GreenBeanio/Garrett-s-Split-Tracker]
Copyright: Copyright (c) [2024]-[2024] [Garrett's Split Tracker] Contributors
Version: [0.1]
Status: [Development]
License: [MIT]
Author(s): [Garrett Johnson (GreenBeanio) - https://github.com/greenbeanio]
Maintainer: [Garrett Johnson (GreenBeanio) - https://github.com/greenbeanio]
Project Description: [This project is used to track "splits" in games or activities. With the ability to display them on a livestream.]
File Description: [Generates the page for creating a new user]
#}

<!DOCTYPE html>
<html>

<head>
<title>Welcome!</title>
</head>

<body>

</body>

</html>

{% extends "base.j2" %}

{%block css %}
    {{ super() }}
{% endblock %}
{%block js %}
    <script src="{{url_for('auth.static', filename='js/password.js') }}"></script>
{% endblock %}

{% block title %}
   New User
{% endblock %}

{% block navigation_bar %}
    {{ super() }}
{% endblock %}

{% block content %}
    <h1> Welcome to Garrett's Split Tracker </h1>
    <h2> Create An Account </h2>
    <div>
        <form method="POST" onsubmit="return validatePassword()" action="{{ url_for('auth.createAttempt')}}">
            <label for="user_text">Username:</label><br>
            <input type="text" id="user_text" name="user_box" pattern="^[a-zA-Z0-9]*.{6,32}$"><br><br>
            <label for="pass_text">Password:</label><br>
            {# Regex is confusing, but this should be 16-32 length, 2+ numbers, 1+ lowercase, 1+ uppercase, and 1+ special character #}
            <input type="password" id="pass_text" name="pass_box" pattern="^(?=.*[0-9].*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&*_\-+.?]).{16,32}$"><br><br>
            <label for="confirm_pass_text">Confirm Password:</label><br>
            <input type="password" id="confirm_pass_text" name="confirm_pass_box" pattern="^(?=.*[0-9].*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&*_\-+.?]).{16,32}$"><br><br>
            <input type="submit" id="submit_but" value="Login">
            <input type="reset" id="reset_but" value="Reset">
        </form>
    </div>
    <div>
        <ul>
        <li> Username must be 8-32 characters long: </li>
            <ul>
                <li> Can only consist of lowercase letters, uppercase letters, and numbers. </li>
            </ul>
        <li> Password must be 16-32 characters long. </li>
        <li> Password must have 1+ lowercase letters. </li>
        <li> Password must have 1+ uppercase letters. </li>
        <li> Password must have 2+ numbers. </li>
        <li> Password must have 1+ special character: </li>
        <ul>
            <li>!</li>
            <li>@</li>
            <li>#</li>
            <li>$</li>
            <li>%</li>
            <li>^</li>
            <li>&</li>
            <li>*</li>
            <li>_</li>
            <li>-</li>
            <li>+</li>
            <li>.</li>
            <li>?</li>
        </ul>
        
{% endblock %}

{% block footer %}
    {{ super() }}
{% endblock %}

{# 
Footer Comment
History of Contributions:
[2024-2024] - [Garrett Johnson (GreenBeanio) - https://github.com/greenbeanio] - [The entire document] 
#}