{# 
Header Comment 
Project: [Garrett's Split Tracker] [https://github.com/GreenBeanio/Garrett-s-Split-Tracker]
Copyright: Copyright (c) [2024]-[2024] [Garrett's Split Tracker] Contributors
Version: [0.1]
Status: [Development]
License: [MIT]
Author(s): [Garrett Johnson (GreenBeanio) - https://github.com/greenbeanio]
Maintainer: [Garrett Johnson (GreenBeanio) - https://github.com/greenbeanio]
Project Description: [This project is used to track "splits" in games or activities. With the ability to display them on a livestream.]
File Description: [Generates the main tracking page]
#}

{% extends "base.j2" %}

{%block css %}
    {{ super() }}
{% endblock %}

{%block js %}
    {{ super() }}    
{% endblock %}
<script type="module" src="{{url_for('static', filename='js/tableHandler/main.js')}}"></script>

{% block title %}
   User
{% endblock %}

{% block navigation_bar %}
    {{ super() }}
{% endblock %}

{% block flash%}
    {{ super() }}
{% endblock %}

{% block content %}
    <script type="text/javascript">
        function test() {
            const testx = document.createElement("a");
            testx.textContent = "Test";
            document.body.appendChild(testx);
        }
    </script>

    <h1>Hello {{user}}</h1>
    <p> It's time to track! </p>
    <button id="test" onClick="test()">Hi</button>
    
    
    
{% endblock %}

{% block footer %}
    {{ super() }}
{% endblock %}

{# 
Footer Comment
History of Contributions:
[2024-2024] - [Garrett Johnson (GreenBeanio) - https://github.com/greenbeanio] - [The entire document] 
#}